<launch>
  <node pkg="raspimouse_ros_2" name="buzzer" type="buzzer.py" required="true" />
  <node pkg="raspimouse_ros_2" name="lightsensors" type="lightsensors" required="true" />
  <node pkg="raspimouse_ros_2" name="motors" type="motors" required="true" />
  <test test-name="test_buzzer" pkg="raspimouse_ros_2" type="travis_test_buzzer.py" />
  <test test-name="test_lightsensors" pkg="raspimouse_ros_2" type="travis_test_lightsensors.py" />
  <test test-name="test_motors" pkg="raspimouse_ros_2" type="travis_test_motors.py" time-limit="60.0" />
</launch>
